*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}
html{
	 /* This defines what 1rem is */
    font-size: 62.5%; /*1 rem = 10px; 10px/16px = 62.5%*/
}
body {
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif,'Roboto-Bold','FontAwesome','glyphicons-halflings-regular';
}
/******* Définition des polices personnalisées *********/
/*******************************************************/
@font-face{
	font-family: 'Roboto-Bold';
	src:url(fonts/Roboto-Bold.ttf) format('truetype');
}
@font-face
{
    font-family: 'FontAwesome';
    src: url('fontes/FontAwesome.eot');
    src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fontawesome-webfont.woff') format('woff'),
         url('fonts/fontawesome-webfont.ttf') format('truetype'),
         url('fonts/fontawesome-webfont.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'glyphicons-halflings-regular';
    src: url('fontes/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/glyphicons-halflings-regular.woff') format('woff'),
         url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
         url('fonts/glyphicons-halflings-regular.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

  /****** Header stylesheet **********/
  /**********************************/

.header{  
	background-color: rgb(255,255,255);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 8rem;
	width: 100%;
	position: fixed ;
	top: 0;
	z-index: 200;
}
.logo img{
/*	height: 10vh;
	width: 35vh;*/
}
.nav ul{
	width: 33rem;
	list-style-type: none;
	display: flex;
	flex-direction: row;
    justify-content:center;
    align-items: center; 
/*	border:solid 1px red;*/
}
.nav li{
	margin-right: 1.5rem;
	height: 8rem;
	width:25%;
	margin-top: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav li:hover{
	border-top: solid .5rem rgba(51, 153, 204,.8);
}
.nav a{
    font-size: 1.7rem;
	text-decoration: none;
	color: black;
}
@media only screen and (max-width: 600px) { 
    .header{  
		background-color: rgb(255,255,255);
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 8rem;
		width: 100%;
		position: fixed ;
		top: 0;
		z-index: 200;
	}
	.logo img{
        /* margin-top: 1rem; */
		height: 3rem; 
		width: 5rem;
	}
	.nav li{
		margin-right: 1.5rem;
		height: 8rem;
		width:25%;
		/* margin-top: .5rem; */
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

  /**************SlideShow properties*******************/
  /****************************************************/

#i1, #i2 { display: none;}
.container{
		margin: 0 auto;
		margin-top: 5%;
		margin-bottom: 7.5rem;
		position: relative;
		width: 100%;
		padding-bottom: 38%;
	 user-select: none;
	}
	.container .slide_img{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.container .slide_img img{
		width: inherit;
		height: inherit;
	}
	 .prev, .next{
		width: 4rem;
		height:8rem;
		position: absolute;
		top:38%; 
		background-color: rgba(51,51,51,0.7);
		color:rgba(244, 244, 244,.9);
		z-index: 99;
		cursor: pointer;
		font-size: 3rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.next{
		border-bottom-left-radius: 8rem;
		border-top-left-radius: 8rem;
	    right:0;
	}
	.prev{
		border-bottom-right-radius: 8rem;
		border-top-right-radius: 8rem;
	}	
	.prev:hover, .next:hover{
		transition: .3s;
		background-color: rgba(51, 153, 204,.8);
		color: #ffffff; 
	}
.container #nav_slide{
	display: flex;
	flex direction: row;
	width: 100%;
	bottom: 0%;
	position: absolute;
	z-index: 99;
	cursor: default;
}
#nav_slide .dots{
	top: -.5rem;
	width: 50%;
	height: .2rem;
	margin: 0 .4rem;
	position: relative;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
	transition: .4s;
}
#nav_slide .dots:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.9);
	transition: .25s
}
.slide_img{z-index: -1;}

	#i1:checked ~ #one,
	#i2:checked ~ #two  {
	z-index: 9;	
	animation: scroll 1s ease-in-out;}
@keyframes scroll{
	0%{	opacity:1;}
	100%{opacity:1;}	
}
    #i1:checked  ~  #nav_slide #dot1,
    #i2:checked  ~  #nav_slide #dot2
	{ background-color: #5cadd3;}

@media only screen and (max-width: 900px) { 
    .container{
		display: none;
	}

	 }  

   /**********Text_slide properties	********/
   /***************************************/

.container .text{
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 100;
	height: 50%;
	width: 50%;
	top: 25%;
	left: 10%;
	color: #ffffff;
	/*border: solid blue;*/
}
.text h1{
	font-family: 'Roboto-Bold';
	font-size: 3rem;
}
.text h4{
	font-size: 1.6rem;
}
.text h1, .text h4 , .text a{
	margin: 3px;
}
.text a{
	width: 7em;
	height: 2.8em;
	font-size: 1.8rem;
	background-color: #5cadd3;
	border-radius: .3rem .3rem .3rem .3rem;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.text em{
	color: #5cadd3;
	font-style: normal;
}
/************page NOS SERVICES style***************/
/*************************************************/

 #page2, #page3{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5%;
}
.nos_services p,
.nos_projets p
{opacity: 0.7}

.title_page{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	margin-top: 5%;
	text-align: center;
}

.title_page p{

	margin-top: 4.5rem;
	font-size: 1.5vw;
}
.title_page h1{
	font-weight: bold;
	font-size: 2.5vw;
	font-family: 'Roboto';
}
.hr{
	position: absolute;
	height: .15rem;
	background-color: rgba(235,235,235,1);
	width: 15rem;
	max-width: 13.8rem;
	top: 7rem;

}
.title-circle {
	position: absolute;
	width: 2.3rem;
	height: 2.3rem;
    background-color: rgba(51,153,204,1);
    border: solid .5rem;
    border-color: #fff;
    border-radius: 110%;
    top: 6rem;
}
/*******bloc services******/

#bloc_services{
	/*position: */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 5%;

}
.image {
	position: relative;
    padding: 0%;
    size: 35vw;
}
.list__serv{
	position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 30%;
    margin-top: 4%;
    margin-bottom: 2%;
}
.list__serv .list__serv--1{
	display: flex;
	flex-direction: row;
}
.list__serv--1 .icon{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.list__serv--1 .circle {
	padding: 0;
	width: 8rem;
	height: 8rem;
	border : solid .1rem gray;
	opacity: 0.6;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.list__serv--1 .mini-circle {
	position: relative;
	width: 1.5rem;
	height: 1.5rem;
    background-color: rgba(51,153,204,1);
    border: solid .2rem;
    border-color: #fff;
    border-radius: 110%;
    z-index: 99;
    left: 90%;
    top: 50%;
}
.icon span{
	position: relative;
	font-size: 3rem;
	color: rgba(51,153,204,1);
}
.list__serv--1 .text{
	position: relative;
	margin-left: 2.4rem;
	font-size: 1.5rem;
}

 /*********NOS PROJETS***************/
 /***********************************/

 #page3 {
	background-color: #f5f5f5;
	padding-bottom: 5%;
}

/*Manu style*/

.list_proj{
	position: relative;
    min-width: 35rem;
    margin: 5% 0 5% 0;
}
#m1 ,#m2, #m3 , #m4{display: none;}
.list_proj #list_menu{
	display: flex;
	justify-content: center;
    background-color: rgba(204,204,204,0.5);
	margin: 0;
	border-radius: 5%;

}
.list_proj .menu{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	height: 4rem;
	width: 9rem;
	font-size: 1.5rem;
}
.list_proj .arrow{
	position: relative;
	display: inline;
	margin: 3.6rem;
	bottom: .8rem;
	left: .5rem;
	font-size: 2rem;
	color: #f5f5f5;
}

 #m1:checked ~  #list_menu #l1,
 #m2:checked~  #list_menu #l2,
 #m3:checked~  #list_menu #l3,
 #m4:checked~  #list_menu #l4
  {
	background-color: rgba(51,153,204,0.8);
	color: #fff;
	border-color: rgba(70,140,173,1);
	box-shadow: 0 .2rem 0 0 rgba(70,140,173,1);
}
#m1:checked~  #a1,
#m2:checked~  #a2,
#m3:checked~  #a3,
#m4:checked~  #a4
{color: rgba(70,140,173,0.8);
}

/****image gallery****/
.portfolio{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	width: 80%;
}
.gallery {
	background-size: cover;
	margin: 1rem;
	width: 26rem;
	height: 17.2rem;
	/*transition: all 1s;*/
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	flex-direction: column;
}
.gallery:nth-child(1){background-image: url(images/portfolio/01.jpg);}
.gallery:nth-child(2){background-image: url(images/portfolio/02.jpg);}
.gallery:nth-child(3){background-image: url(images/portfolio/03.jpg);}
.gallery:nth-child(4){background-image: url(images/portfolio/04.jpg);}
.gallery:nth-child(5){background-image: url(images/portfolio/05.jpg);}
.gallery:nth-child(6){background-image: url(images/portfolio/06.jpg);}
.gallery:nth-child(7){background-image: url(images/portfolio/07.jpg);}
.gallery:nth-child(8){background-image: url(images/portfolio/08.jpg);}
.gallery:nth-child(9){background-image: url(images/portfolio/full.jpg);}

.image_desc{
	height: 6rem;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	font-size: 1.5rem;
}
.image_desc *{
	margin: 0;
	margin-left: 1rem;
}
 .gallery span{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4rem;
	width: 4rem;
	top: 14%;
	right: 3%;
	border:solid .2rem #fff;
	border-radius: 50%;
	color: #fff;
	background-color: rgba(51,153,153,1);
	font-size: 1.5rem;
}
.image_desc,.gallery span{z-index: -1;}
.gallery:hover .image_desc{z-index: 99;}
.gallery:hover span{z-index: 100;}

.portfolio .gallery:hover {
	transform: scale(1.1);
}
   
/* //900px Tablet Portrait*/  
@media only screen  { 
	.gallery .image_desc{z-index: 99;}
	.gallery span{z-index: 100;}
} 

/****************FORM + MAPS******************/
/***************************************/

#page4{
	position: relative;
	background-color: #aec5ca;
	height: 90rem;
	width: 100%;
}
.mapouter{
	text-align:right;
	height:inherit;
	width:inherit;
	opacity: 0.7;
	}
.gmap_canvas {
	overflow:hidden;
	background:none!important;
	height:inherit;
	width:inherit;
}
.form{
	position: absolute;
	width: 36rem;
	height: 70%;
	right: 15%;
	top: 6%;
	background-color: rgba(255,255,255,0.7);
	display: flex;
	flex-direction: column;
	margin-top: 5%;
}
.contact{
    position: relative;
	width: 90%;
	left: 5%;
	font-size: 1.5rem;
}
.contact h1{
    margin: 5% 0 5% 0;
    font-weight: bold;
}
.contact h4{
	font-weight: bold;
}
 .contact h4, .contact p{
	margin: 0;
}
.contact p{
	margin-bottom: 5%;
}
form{
	position: relative;
	width: 90%;
	left: 5%;
	height: 70%;
    /*border: solid 1px;*/
    display: flex;
    flex-direction: column;
}
textarea{
	height: 50%;
	margin-bottom: 2%;
    border: .1rem solid #cccccc;
    border-radius: .5rem;
}
#page4 input{
    height: 8%;
    border: .1rem solid #cccccc;
    border-radius: .5rem; 
}
.form #valid{
	width: 33%;
	height: 10%;
	color: #ffffff;
	font-weight: bold;
	background-color: #3399cc;
	border-color: #5cadd3;
	border-radius: .3rem;
	border:solid .1rem;
	margin-top: .5rem;
	cursor: pointer;
}

 /* MEDIA QUERY MANAGER */
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
/*//600px phone*/
    @media only screen and (max-width: 600px) { 
    
	 }   
/* //900px Tablet Portrait*/
    @media only screen and (max-width: 900px) { 
		html{
			/* //1 rem = 8px, 8/16 = 50% */
			font-size: 50%;
		}

	 }   
/* 1200px Tablet landscape*/
    @media only screen and (max-width: 1200px) { 
	html{
		/* //1 rem = 9px, 9/16 = 50% */
		font-size: 56.25%;
	}

	 }   
/*1800 Big desktop*/
     @media only screen and (min-width: 1800px) { 
		html{
			/* //1rem = 12, 12/16 */
			font-size: 75%;
		}	
	  } 
